<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VEHICULUM</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>

</head>
<body>
	{{ content }}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>
<script>

$(document).ready(function(){
  
  $('.slick-cars').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [{
      	breakpoint: 1000,
      	settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true
    	}
   	}]
	});

});
</script>

</body>
</html>
